@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "minerva-modern", sans-serif;
  color: #4a4a49;
}

p,
span {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

@layer utilities {
  .bg-pattern2a {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.degustazione {
  background-image: url("../public/assets/rifugio/rifugio3.webp");
  background-size: cover;
  background-position: center;
  z-index: 999;
}
