@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "minerva-modern", sans-serif;
  color: #4a4a49;
}

p,
span {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

@layer utilities {
  .bg-pattern {
    background-image: url("../public/assets/pattern2.png");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .bg-pattern2 {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .bg-pattern2a {
    background-image: url("../public/assets/pattern2.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: calc(100% - 350px) calc(100% - 0px);
  }

  .bg-pattern2b {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .bg-pattern3 {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .bg-pattern3a {
    background-image: url("../public/assets/pattern2.png");
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .bg-404 {
    background-image: url("../public/assets/4042.jpg");
    background-size: cover;
    /* background-position: bottom; */
  }

  @media screen and (max-width: 640px) {
    .bg-pattern {
      background-size: 500px;
    }
    .bg-pattern3a {
      background-image: url("../public/assets/pattern2.png");
      background-size: 1200px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .bg-pattern2 {
      background-image: url("../public/assets/pattern2.png");
      background-size: 1000px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}

.degustazione {
  background-image: url("../public/assets/rifugio/rifugio3.webp");
  background-size: cover;
  background-position: center;
  z-index: 999;
}
